body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #423e3e;
    /* Black background */
    color: #ffd700;
    /* Gold text color */
}

nav {
    background-color: #000000;
    /* Black navbar */
}

main {
    flex: 1 0 auto;
}

footer {
    background-color: #000000;
    /* Black footer */
    color: #ffd700;
    /* Gold text color */
}


.weight-class-buttons .btn {
    margin-bottom: 10px; /* Adjust this value as needed */
}

a {
    color: #ffd700 !important;
    font-family: 'Afacad', sans-serif;
    font-size: 20px;
    
}

a:hover {
    color: #ffa500 !important;
    /* Orange on hover */
}

.sidenav {
    background-color: black;
}

.custom-btn {
    background-color: #ff0000 !important; /* Change to the desired color */
    color: #fff !important; /* Change to the desired text color */
}

.custom-btn:hover {
    background-color: #ff8c00 !important; 
}

.brand-logo {
    font-family: 'Rethink Sans', sans-serif;
    font-size: 2rem;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#weight_class option {
    color: #ffd700;
}

.main-image {
    width: 100%;
    /* Make the image fill the container width */
    height: auto;
    /* Maintain aspect ratio */
    max-height: 400px;
    /* Limit the maximum height as needed */
    border-radius: 8px;
    /* Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow */
    margin-bottom: 20px;
    /* Adjust spacing as needed */
}

.dark-card {
    background-color: #333;
    /* Dark background color */
    color: #fff;
    /* Text color */
    border-radius: 8px;
    /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Shadow for a subtle lift */
    transition: background-color 0.3s ease;
    /* Smooth transition for background color */
}

.dark-card:hover {
    background-color: #555;
    /* Darker background color on hover */
}

.dark-card .card-title {
    font-size: 1.5em;
    /* Larger font size for the title */
}

.dark-card p {
    margin-bottom: 8px;
    /* Adjust spacing between paragraphs */
}

.btn {
    background-color: rgb(243, 210, 23);
    color: black;
}

.btn:hover {
    background-color: #ffa500;
}


.card-image {
    position: relative;
    overflow: hidden;
}

.card-image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out; /* Optional: Add a smooth transition effect */
}

.card-image:hover img {
    transform: scale(1.1); /* Optional: Add a zoom effect on hover */
}

.card-content {
    padding: 15px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.weight-class {
    font-style: italic;
    margin-top: 5px;
}

.card-image {
    position: relative;
    overflow: hidden;
    max-height: 200px; /* Set a maximum height for the card images */
}

.card-image img {
    width: 100%;
    height: 100%; /* Ensure the image covers the entire height of the card image container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    transition: transform 0.3s ease-in-out;
}

.hero-heading {
    font-size: 50px; /* Adjust the font size as needed */
    margin-bottom: 30px; /* Add some space below the heading */
    text-align: center;
    font-family: 'Kanit', sans-serif;
    background-color: #000000;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-image {
    width: 100%;
    max-width: 1500px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about {
    font-family: 'Kanit', sans-serif;
    background-color: #000000;
}



.search-heading {
    font-family: 'Kanit', sans-serif;
    background-color: #000000;
}


.latest-champions {
    font-family: 'Kanit', sans-serif;
    margin-top: 30px;
    background-color: #000000;
}

.latest-champions .card {
    background-color: #333;
    /* Dark background color */
    color: #fff;
    /* Text color */
    border-radius: 8px;
    /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Shadow for a subtle lift */
    transition: background-color 0.3s ease;
    /* Smooth transition for background color */
    margin-bottom: 20px;
    /* Adjust spacing as needed */
}

.latest-champions .card:hover {
    background-color: #555;
    /* Darker background color on hover */
}

.latest-champions .card .card-image {
    position: relative;
    overflow: hidden;
    max-height: 200px; /* Set a maximum height for the card images */
}

.latest-champions .card .card-image img {
    width: 100%;
    height: 100%; /* Ensure the image covers the entire height of the card image container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    transition: transform 0.3s ease-in-out;
}

.latest-champions .card .card-content {
    padding: 15px;
}

.latest-champions .card .card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.latest-champions .card p {
    margin-bottom: 8px;
    /* Adjust spacing between paragraphs */
}

nav .brand-logo {
    margin-left: 20px; /* Adjust the margin as needed */
}


.save-button {
    margin: 20px;
}

.white-text-input {
    color: white;
}

/* Responsive styling for smaller screens */
@media only screen and (max-width: 600px) {
    nav .brand-logo {
        margin-left: 10px; /* Adjust the margin for mobile mode */
    }
}



@media (max-width: 600px) {
    .latest-champions .card .card-image {
        max-height: 150px;
        /* Adjust the maximum height for smaller screens */
    }
}


@media (max-width: 600px) {
    .main-image {
        max-height: 300px;
        /* Adjust the maximum height for smaller screens */
    }
}