body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #423e3e; /* Black background */
    color: #ffd700; /* Gold text color */
}

nav {
    background-color: #000000; /* Black navbar */
}

main {
    flex: 1 0 auto;
}

footer {
    background-color: #000000; /* Black footer */
    color: #ffd700; /* Gold text color */
}

a {
    color: #ffd700 !important; /* Gold links */
}

a:hover {
    color: #ffa500 !important; /* Orange on hover */
}

.brand-logo {
    font-family: 'Tektur', sans-serif;
    font-size: 2rem;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#weight_class option {
    color: #ffd700;
}

.main-image {
    width: 100%; /* Make the image fill the container width */
    height: auto; /* Maintain aspect ratio */
    max-height: 400px; /* Limit the maximum height as needed */
    border-radius: 8px; /* Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    margin-bottom: 20px; /* Adjust spacing as needed */
}

.dark-card {
    background-color: #333; /* Dark background color */
    color: #fff; /* Text color */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for a subtle lift */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
  }

  .dark-card:hover {
    background-color: #555; /* Darker background color on hover */
  }

  .dark-card .card-title {
    font-size: 1.5em; /* Larger font size for the title */
  }

  .dark-card p {
    margin-bottom: 8px; /* Adjust spacing between paragraphs */
  }

  .gold_button {
    background-color: gold;
    color: black
}
  
/* Responsive styling for smaller screens */
@media (max-width: 600px) {
    .main-image {
        max-height: 300px; /* Adjust the maximum height for smaller screens */
    }
}