<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}UFC Champions 2022 - 2023{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Tektur&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <nav>
        <div class="nav-wrapper black">
            <a href="{{ url_for('home') }}" class="brand-logo center">UFC Champions</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('fighters') }}">Fighters</a></li>
                <li><a href="{{ url_for('signin') }}">Sign In</a></li>
            </ul>


            <ul class="sidenav" id="mobile-demo">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('fighters') }}">Fighters</a></li>
                <li><a href="collapsible.html">Sign In</a></li>
            </ul>
        </div>
    </nav>
    <main class="container">
        {% block hero_image %}
            <div class="container">
                <h2>Welcome to UFC Champions 2022 - 2023</h2>
                <img src="{{ url_for('static', filename='images/ufc_belt.jpg') }}" alt="">
                <p>Explore the list of champions in various weight classes from 2022 to 2023.</p>
                <a href="{{ url_for('fighters') }}" class="waves-effect waves-light btn cta-button">Get Started</a>
            </div>
        {% endblock %}

        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer black">
        <div class="container">
            <p>&copy; 2023 UFC Champions. All rights reserved.</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>