<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}UFC Champions 2022 - 2023{% endblock %}</title>

    <!-- External Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad&family=Kanit&family=Rethink+Sans&display=swap"
        rel="stylesheet">
    <!-- Custom Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <!-- Navigation Bar -->
    <nav>
        <div class="nav-wrapper black">
            <a href="{{ url_for('home') }}" class="brand-logo center hide-on-med-and-down">UFC Champions</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('fighters') }}">Fighters</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('add_champion') }}">Add Champion</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                <li><a href="{{ url_for('signin') }}">Sign In</a></li>
                {% endif %}
            </ul>

            <ul class="sidenav" id="mobile-demo">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('fighters') }}">Fighters</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('add_champion') }}">Add Champion</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                <li><a href="{{ url_for('signin') }}">Sign In</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Main Content -->
    <main class="container">

        <!-- Hero Section -->
        {% block hero_image %}
        <div class="container hero-section">
            <h1 class="hero-heading">Welcome to UFC Champions</h1>
            <img class="hero-image" src="{{ url_for('static', filename='images/ufc_belt.jpg') }}" alt="UFC Belt Image">
            <p>Explore the list of champions in various weight classes from 2022 to 2023.</p>
            <a href="{{ url_for('fighters') }}" class="waves-effect waves-light btn cta-button custom-btn">Get
                Started</a>
        </div>


        <!-- About UFC Section -->
        <section id="about-ufc">
            <h2 class="center-align about">About UFC Champions</h2>
            <p class="about-p">
                The Ultimate Fighting Championship (UFC) is a premier mixed martial arts (MMA) organization,
                showcasing the world's best fighters across various weight classes.
                The UFC Champions app is an immersive platform designed for enthusiasts of mixed martial arts (MMA) to
                explore the dynamic world of Ultimate Fighting Championship (UFC) champions. Providing a comprehensive
                overview of titleholders across various weight classes, the app showcases detailed profiles of each
                champion, including their names, countries of origin, weight classes, start and end dates of their
                reigns, and captivating images capturing key moments of their careers. Users can navigate through the
                app to discover champions from diverse backgrounds and witness the evolution of the UFC landscape over
                time. With an intuitive interface and responsive design, the UFC Champions app offers a seamless and
                engaging experience, making it a go-to resource for fans seeking up-to-date information on the elite
                fighters who have left an indelible mark on the world of MMA
            </p>
            <p>
                UFC events are known for their intense competition, skillful athletes, and passionate fanbase.
                Explore the rich history and dynamic journey of UFC champions through the years.
            </p>
        </section>
        {% endblock %}

        <!-- Additional Content Section -->
        {% block content %}
        <div class="row latest-champions">
            <h2 class="center-align">Latest Champions</h2>
            {% for champion in champions[:3] %}
            <div class="col s12 m6 l4">
                <div class="card dark-card">
                    <div class="card-image">
                        {% if champion.image_url %}
                        <img src="{{ champion.image_url }}" alt="{{ champion.name }}">
                        {% else %}
                        <img src="{{ url_for('static', filename='images/default_placeholder.jpg') }}"
                            alt="Default Image">
                        {% endif %}
                    </div>
                    <div class="card-content">
                        <span class="card-title">{{ champion.name }}</span>
                        <p class="weight-class">{{ champion.weight_class }}</p>
                        <p>Country: {{ champion.country }}</p>
                        <p>Start Date: {{ champion.start_date.strftime('%Y-%m-%d') }}</p>
                        <p>End Date: {{ champion.end_date.strftime('%Y-%m-%d') }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endblock %}
    </main>

  
    <!-- Footer Section -->
    <footer class="page-footer black">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h5>Contact Us</h5>
                    <p>Email: info@ufcchampions.com</p>
                    <p>Phone: +1 (123) 456-7890</p>
                </div>
                <div class="col s12 m6 l6">
                    <h5>Follow Us</h5>
                    <p>Stay connected with us on social media:</p>
                    <a href="#" target="_blank">Facebook</a> |
                    <a href="#" target="_blank">Twitter</a> |
                    <a href="#" target="_blank">Instagram</a>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <hr>
                    <p class="grey-text text-lighten-4">&copy; 2023 UFC Champions. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>


    <!-- External Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
