{% extends 'base.html' %}

{% block title %}UFC Champions - Fighters{% endblock %}

{% block hero_image %}
  
{% endblock %}

{% block content %}
    <div class="row">
        <h2 class="center-align">Search for Champions</h2>
        <form class="col s12" method="POST" action="{{ url_for('fighters') }}">
            <div class="row">
                <div class="input-field col s12">
                    <label for="weight_class">Select Weight Class:</label>
                    <select id="weight_class" name="weight_class">
                        <option value="all">All</option>
                        <option value="flyweight">Flyweight</option> 
                        <option value="bantamweight">Bantamweight</option>
                        <option value="featherweight">Featherweight</option>
                        <option value="lightweight">Lightweight</option>
                        <option value="welterweight">Welterweight</option>
                        <option value="middleweight">Middleweight</option>
                        <option value="lightheavyweight">Light Heavyweight</option>
                        <option value="heavyweight">Heavyweight</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light" type="submit">Search
                        <i class="material-icons right">search</i>
                    </button>
                </div>
            </div>
        </form>

        {% if champions %}
            <div class="row">
                <h3 class="center-align">Search Results</h3>
                <ul class="collection">
                    {% for champion in champions %}
                        <li class="collection-item">
                            <span class="title">{{ champion.name }}</span>
                            <p>{{ champion.weight_class }} Champion</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
