{% for champion in champions %}
    <div class="col s12 m6 l4">
        <div class="card dark-card">
            <div class="card-image">
                {% if champion.image_url %}
                    <img src="{{ champion.image_url }}" alt="{{ champion.name }}">
                {% else %}
                    <!-- Provide a default image or placeholder if no image_url is available -->
                    <img src="{{ url_for('static', filename='images/default_placeholder.png') }}" alt="Default Image">
                {% endif %}
            </div>
            <div class="card-content">
                <span class="card-title">{{ champion.name }}</span>
                <p class="weight-class">{{ champion.weight_class }}</p>
                <p>Country: {{ champion.country }}</p>
                <p>Start Date: {{ champion.start_date.strftime('%Y-%m-%d') }}</p>
                <p>End Date: {{ champion.end_date.strftime('%Y-%m-%d') }}</p>
            </div>
        </div>
    </div>
{% endfor %}
