{% extends 'base.html' %}

{% block title %}UFC Champions - Fighters{% endblock %}

{% block hero_image %}
  


    <h2>Sign In</h2>
    <form method="post" action="{{ url_for('signin') }}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

        <button type="submit">Sign In</button>
    </form>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
{% endblock %}
